<h1><%= @meeting.name %></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time %>
</p>

<div class="navigation">
  <%= link_to 'Edit', edit_meeting_path(@meeting) %> |
  <%= link_to 'Back', meetings_path %>
</div>
