<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="small-8 columns">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <div class="field">
          <%= f.label :start_date %><br>
          <%= f.text_field :start_date, class: 'datepicker', :value => @event.start_date.nil? ? "" : @event.start_date.strftime("%m-%d-%Y") %>
        </div>
        <div class="field">
          <%= f.label :end_date %><br>
          <%= f.text_field :end_date, class: 'datepicker', :value => @event.end_date.nil? ? "" : @event.end_date.strftime("%m-%d-%Y") %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </div>
    <div class="field">
      <fieldset>
        <legend><%= f.label :sponsors %></legend>
          <% Sponsor.all.each_with_index do |sponsor, i| %>
            <%= check_box_tag "event[sponsor_ids][]", sponsor.id, 
              @event.sponsors.include?(sponsor) %>
            <%= sponsor.name %>
            <%= tag :br if (i+1) % 3 == 0 %>
          <% end %>
        <%= hidden_field_tag "event[sponsor_ids][]", nil %>
      </fieldset>
    </div>
  </div>
</div>
 <div class="actions">
      <%= f.submit class: 'button' %>
    </div>
<% end %>

