<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Url</th>
      <th>Sponsors</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%= link_to event.url, "http://#{event.url}", target: '_blank' %></td>
        <td>
          <% event.sponsors.each_with_index do |sponsor, i| %>
            <%= tag :br unless i == 0 %>
            <%= sponsor.name %><br/>
          <% end %>
        </td>
        <td><%= link_to 'Show', event %><br>
            <%= link_to 'Edit', edit_event_path(event) %><br>
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path, class: 'button' %>
