<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>


<% content_for(:sidebar) do %>
  <% @sidebar_title = "Meetings" %>
  <table class="large-sidebar">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody>
      <% @event.meetings.each do |meeting| %>
        <tr>
          <td><%= meeting.name %></td>
          <td><%= meeting.location_name %></td>
          <td><%= meeting.start_time.strftime('%m-%d-%Y %I:%M%p') %></td>
          <td><%= meeting.end_time.strftime('%m-%d-%Y %I:%M%p') %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
<% end %>
