<% content_for(:sidebar) do %>
  <h1>Meetings</h1>
  <%= render partial: "shared/meetings_table", locals: {meetings: @event.meetings} %>
  <h1>Sponsors</h1>
  <%= render partial: "sponsors_list", locals: {sponsors: @event.sponsors} unless @event.sponsors.empty? %>
<% end %>

<h1><%= @event.name %></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <strong>Sponsors:</strong>
  <%= @event.sponsors.map(&:name).join(", ") %>
</p>

<div class="navigation">
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
</div>
