<% content_for(:sidebar) do %>
  <h1>Sponsored Events</h1>
  <%= render partial: 'shared/events_table', locals: {events: @sponsor.events} %>
<% end %>
<h1><%= @sponsor.name %></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @sponsor.url %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @sponsor.logo %>
</p>

<div class="navigation">
  <%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
  <%= link_to 'Back', sponsors_path %>
</div>
