<h1>Subscription</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @subscription.event_id %>
</p>

<p>
  <strong>Attendee:</strong>
  <%= @subscription.attendee_id %>
</p>

<div class="navigation">
  <%= link_to 'Edit', edit_subscription_path(@subscription) %> |
  <%= link_to 'Back', subscriptions_path %>
</div>
